<% content_for(:head) do %>
<%= auto_discovery_link_tag(:atom, trip_url(@trip, :format => :atom), :title => "Amit's Travel Blog - #{@trip.title} - Atom Feed") %>
<%= auto_discovery_link_tag(:rss, trip_url(@trip, :format => :rss), :title => "Amit's Travel Blog - #{@trip.title} - RSS Feed") %>
<% end %>
<h1><%= @trip.title %></h1>
<% admin do %>
<nav>
  <ul>
    <li><%= link_to "New Post", new_post_path(:trip_id => @trip.id) %></li>
    <li><%= link_to "New Checkin", new_trip_checkin_path(@trip) %></li>
  </ul>
</nav>
<% end %>
<h2>Posts</h2>
<% if !@trip.posts.blank? %>
<div id="posts">
  <% @trip.posts.each do |post| %>
  <div class="post">
    <h3><%= link_to post.title, post %></h3>
    <%= render :partial => "posts/details", :locals => {:post => post } %>
    <div class="body"><%= raw Maruku.new(post.body).to_html %></div>
  </div>
  <% end %>
</div>
<% else %>
<p>No posts for this trip yet...</p>
<% end %>

<div id="checkins">
  <h2>Checkins</h2>
<% if !@trip.checkins.blank? %>
  <ol>
  <% @trip.checkins.each do |checkin| %>
    <li>
      <h3><%= link_to checkin.location.name, checkin %></h3>
      <p class="byline">Arrived <%= date_str(checkin.arrival_date) %></p>
    </li>
  <% end %>
  </ol>
<% else %>
<p>No checkins for this trip yet...</p>
<% end %>
</div>
