<h1><%= @checkin.trip.title %></h1>
<h2><%= @checkin.location.name %></h2>
<% admin do %>
<nav>
  <ul>
    <li><%= link_to 'New Post at Checkin', new_post_path(:checkin_id => @checkin) %></li>
    <li><%= link_to 'Edit Checkin', edit_checkin_path(@checkin) %></li>
    <li><%= link_to 'Destroy Checkin', @checkin, :method => :delete, :confirm => "Are you sure?" %></li>
  </ul>
</nav>
<% end %>
<%= render :partial => "posts/posts", :locals => {:posts => @checkin.posts } %>
