<p id="notice"><%= notice %></p>

<p>
  <b>Trip:</b>
  <%= @checkin.trip %>
</p>

<p>
  <b>Location:</b>
  <%= @checkin.location %>
</p>

<p>
  <b>Arrival date:</b>
  <%= @checkin.arrival_date %>
</p>


<%= link_to 'Edit', edit_checkin_path(@checkin) %> |
<%= link_to 'Back', checkins_path %>
