<h1><%= @checkin.trip.title %></h1>
<h2><%= @checkin.location.name %></h2>
<%= render :partial => "posts/posts", :locals => {:posts => @checkin.posts } %>

<%= link_to 'Edit', edit_checkin_path(@checkin) %> |
<%= link_to 'Back', checkins_path %>
